[Unit]
Description=run synproxy kernel dataplane
After=openvswitch-switch.service

[Service]
WorkingDirectory=/home/ubuntu
ExecStartPre=/usr/bin/ovs-vsctl --if-exists del-br br-synproxy
ExecStart=/usr/bin/env python3 ./synproxy_dataplane.py --nic-wan wan0 --nic-wanp wan0p --ipaddr 172.31.255.14 --port 12345 --standalone --default-tcpmss 1460 --default-tcpsack 1 --default-tcpwscale 7 --secure-net 195.148.125.201/32 195.148.125.202/32 195.148.125.203/32 195.148.125.204/32 --default-gw --ratelimit 100 100
ExecStopPost=/usr/bin/ovs-vsctl del-br br-synproxy
Restart=no

[Install]
WantedBy=multi-user.target
